<div class="social-widget-wrapper" data-widget-id="50482"></div>

{% schema %}
  {
    "name": "Instagram Feed",
    "presets": [
      {
        "name": "Instagram Feed"
      }
    ]
  }
{% endschema %}