<div class="page-content page-width">
  <div class="grid">
    <div class="grid__item large--five-sixths push--large--one-twelfth">
      <header class="section-header">
        <h1 class="section-header__title">{{ page.title }}</h1>
      </header>
      <div class="rte">
        {{ page.content }}
      </div>
      <div class="closeby-embed-947504ddc6bbf282bff23a24ad154c5b"></div>
      <script>window.closeby = { mapKey: "947504ddc6bbf282bff23a24ad154c5b", options: { embed: true, height: 700 } };</script>
      <script src="https://embed.closeby.co/v1.js" defer></script>
    </div>
  </div>
</div>